@font-face {
	font-family: 'CascadiaCode';
	src: url(CascadiaCode.woff2);
}

body {
	font-family: CascadiaCode, monospace;
	/* background-color: #181825; */
	background: linear-gradient(145deg, #181825, #1e1e2e);
	color: #cdd6f4;
	font-size: 100%;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	min-height: 100vh;
	margin: 0;
}

header {
	max-width: 800px;
	margin: 0 20px;
}

main {
	max-width: 800px;
	/* margin: 0 auto; */
	flex-grow: 1;
	margin: 0 20px;
}

#name > h1 {
	font-size: 2.5em;
	margin: 20px 0;
}

p {
	color: #bac2de;
}

.italics {
	font-style: italic;
}

.project-buttons {
	display: flex;
	justify-content: space-evenly;
}

.preview-source {
	padding: 8px;
	border: none;
	background-color: #1e1e2e;
	border: solid 2px #303446;
	color: #bac2de;
	border-radius: 10px;
	text-decoration: none;
	transition: background 0.3s ease-in-out;
}

.preview-source:hover {
	background-color: #bac2de;
	color: #181825;
}

hr {
	margin: 20px 10px;
	border-top: 2px solid #949cbb;
}
.contact {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.icon-container {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

.icon {
	width: 40px;
	padding: 15px;
}

footer {
	/* background-color: #11111b; */
	/* background: radial-gradient(circle, #11111b, #0f0f1a); */
	background: linear-gradient(145deg, #11111b, #1e1e2e);
	width: 100%;
	padding: 10px 0;
	margin-top: 25px;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

section {
	animation: fadeIn 0.8s ease-in;
}

.icon-container a {
	display: inline-block;
	transition: transform 0.6s ease;
}

.icon-container a:hover {
	transform: rotate(360deg);
}
